<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431854939442-fb2ki4q0jjcvu283tjehlo1jcvsohq79.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431854939442-fb2ki4q0jjcvu283tjehlo1jcvsohq79</string>
	<key>API_KEY</key>
	<string>AIzaSyCeLb6Ak8U-ndnNl7heLQOLvfmGrUXBZIk</string>
	<key>GCM_SENDER_ID</key>
	<string>431854939442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carparking</string>
	<key>PROJECT_ID</key>
	<string>carparking-1568a</string>
	<key>STORAGE_BUCKET</key>
	<string>carparking-1568a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431854939442:ios:dbaa5958a4e68c6d777b2b</string>
</dict>
</plist>